.adminSection {
  height: 110vh;
  width: 100vw;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #1f2b37;
}

.adminSection p.title {
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.adminContainer {
  position: relative;
  top: 2.5vh;
  left: 2.5vw;
  height: 95vh;
  width: 95vw;
  background-color: #1f2b37;
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}