.chatSection {
  height: 90vh;
  width: 100%;
}

.chatSection .title {
  text-align: center;
}

.chatBox {
  width: 90vw;
  height: 400px;
  margin: 0 auto;
}

.chatBox p {
  margin: 0;
}

.chatBox .chatHeader {
  height: 45px;
  background: #263238;
  position: relative;
  cursor: pointer;
}

.chatBox .chatHeader p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chatBox .chatBody {
  height: calc(400px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}

.chatBox .chatBody .messageContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatBox .chatBody .messageContainer::-webkit-scrollbar {
  display: none;
}

.chatBox .chatBody .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chatBox .chatBody .message .messageContent {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.messageMeta .author {
  margin-left: 10px;
  font-weight: bold;
}

.chatBox .chatBody .message .messageMeta {
  display: flex;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
}

.chatBox .chatFooter {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chatBox .chatFooter input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0;
  text-indent: 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
}

.chatBox .chatFooter button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chatBox .chatFooter button:hover {
  color: #43a047;
}

@media (min-width: 360px) {
  .chatBox {
    width: 90vw;
    height: 500px;
  }

  .chatBox .chatBody {
    height: calc(500px - (45px + 70px));
  }
}

@media (min-width: 390px) {
  .chatBox {
    width: 90vw;
    height: 650px;
  }

  .chatBox .chatBody {
    height: calc(650px - (45px + 70px));
  }
}

@media (min-width: 410px) {
  .chatBox {
    width: 90vw;
    height: 700px;
  }

  .chatBox .chatBody {
    height: calc(700px - (45px + 70px));
  }
}

@media (min-width: 600px) {
  .chatBox {
    width: 70vw;
    height: 750px;
  }

  .chatBox .chatBody {
    height: calc(750px - (45px + 70px));
  }
}

@media (min-width: 1024px) {
  .chatBox {
    width: 60vw;
    height: 500px;
  }

  .chatBox .chatBody {
    height: calc(500px - (45px + 70px));
  }
}

@media (min-width: 1280px) {
  .chatBox {
    width: 50vw;
    height: 500px;
  }
}